@{
    ViewBag.Title = "About";
}
<div class="row page-margin-top-section">
    <div class="row">
        <h2 class="box-header">ABOUT US</h2>
        <p class="description align-center">We provide a professional renovation and installation services with a real focus on customer satisfaction.<br>Our installations are carried out by fully trained staff to the highest professional standards.</p>
    </div>
    <div class="row page-margin-top">
        <div class="column column-1-2 align-center re-preload">
            <div class="image-wrapper">
                <img src="~/images/samples/480x480/image_10.jpg" alt="" class="radius">
            </div>
        </div>
        <div class="column column-1-2">
            <ul class="features-list">
                <li class="sl-small-helmet margin-top-40">
                    <h4>OVER 10 YEARS EXPERIENCE</h4>
                    <p>We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
                </li>
                <li class="sl-small-roller">
                    <h4>BEST MATERIALS</h4>
                    <p>We have the experience, personel and resources to make the project run smoothly. We can ensure a job is done on time.</p>
                </li>
                <li class="sl-small-driller">
                    <h4>PROFESSIONAL STANDARDS</h4>
                    <p>Work with us involve a carefully planned series of steps, centered around a schedule we stick to and daily communication.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row gray full-width page-margin-top-section page-padding-top-section padding-bottom-66">
    <div class="row">
        <div class="tabs no-scroll clearfix">
            <ul class="tabs-navigation clearfix">
                <li>
                    <a href="#we-offer" title="We Offer" class="sl-small-bubble-check">
                        We Offer
                    </a>
                    <span></span>
                </li>
                <li>
                    <a href="#we-guarantee" title="We Guarantee" class="sl-small-shield">
                        We Guarantee
                    </a>
                    <span></span>
                </li>
                <li>
                    <a href="#we-provide" title="We Provide" class="sl-small-truck">
                        We Provide
                    </a>
                    <span></span>
                </li>
            </ul>
            <div id="we-offer">
                <h4 class="box-header">OUR OFFER</h4>
                <p>We offer the highest quality services for your home, business, or appartment. We specialize in renovating homes and stand behind our work.</p>
            </div>
            <div id="we-guarantee">
                <h4 class="box-header">OUR WARRANTY COVERS</h4>
                <p>We stand behind our work and all of our work comes with a warranty and guarntee.</p>

            </div>
            <div id="we-provide">
                <h4 class="box-header">OUR SERVICES</h4>
                <p>We offer too many services to detail in this short paragraph. Call us and we will take good care of you.</p>
            </div>
        </div>
    </div>
</div>

