@{
    ViewBag.Title = "Contact";
}
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>

<div class="theme-page padding-bottom-66">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>CONTACT US</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="HOME" href="?page=home">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                CONTACT US
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-70">
        <div class="column column-1-3 re-smart-column">
            <div class="re-smart-column-wrapper">
                <h4 class="box-header">CONTACT DETAILS</h4>
                <ul class="features-list page-margin-top clearfix">
                    <li class="sl-small-location">
                        <p>1857 Bronxdale Ave<br>Bronx, NY 10462</p>
                    </li>
                    <li class="sl-small-phone">
                        <p>Phone:<br>+1 (347) 664-4953</p>
                    </li>
                    <li class="sl-small-mail">
                        <p>E-mail:<br> bestqualityinterior@gmail.com</p>
                    </li>
                    <li class="sl-small-clock">
                        <p> Mon - Fri: 9.00 AM - 6.00 PM<br>Saturday: 9.00 AM - 12.00 PM</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="column column-2-3">
            <div class="contact-map" id="map"></div>


        </div>
</div>